h3 {
  margin: 0px;
  padding: 8px;
  background-color: skyblue;
  color: black;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.chat {
  height: 500px;
  border-bottom: black solid 1px;
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 480px) {
    margin: 50px;
  }
}

.message-section {
  overflow: scroll;
}

.message {
  display: flex;
  width: 100%;
  .received {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 5px;
  }
  .sending {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 5px;
  }
  .sent {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 5px;
  }
  span {
    &.text {
      padding: 10px;
      border: 1px solid black;
      border-radius: 8px;
    }
    &.time {
      padding: 5px;
      display: flex;
      align-items: center;
      min-width: 65px;
    }
  }
}

hr {
  width: 100%;
  border: solid 1px black;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  input {
    width: 100%;
    border: none;
    height: 100%;
    margin-left: 5px;
    &:focus {
      outline: none;
    }
  }
  button[type=submit] {
    margin-right: 5px;
  }
}
