<ng-container *ngIf="{ mode: theme.themeMode$ | async, messages: chat.messages$ |async } as chatObj">
  <div class="chat" [class.darkmode]="chatObj.mode === 'Dark'">  
    <h3>Chat here to know Nuttakit more <img src="assets/work-in-progress.png"></h3>
    <div class="chat-content">
      <form [formGroup]="group" (ngSubmit)="sendMessage()">
        <button type="button" (click)="theme.toggle()">
          <img [src]="chatObj.mode != null && chatObj.mode === 'Dark' ? 'assets/day-mode.png' : 'assets/night-mode.png'">
        </button>
        <input type="text" formControlName="message">
        <button type="submit"><img src="assets/send.png"></button>
      </form>
      <hr>
      <div class="message-section">
        <div #messages class="message" *ngFor="let message of chatObj.messages">
          <div class="{{message.type}}">
            <span class="time">{{ message.timestamp | date: 'shortTime' }}</span>
            <span class="text">
              <pre>{{ message.text }}</pre>
            </span>
            <div class="profile-section">
              <img class="profile-img" [src]="profileImg[message.type]">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
