:host {
  --chatinput-height: 40px;
  --font-size: 12pt;
  --font-family: Arial, Helvetica, sans-serif;
  --profile-icon-width: 20px;
  --profile-icon-height: 20px;
  --icon-width: 16px;
  --icon-height: 16px;
}

h3 {
  margin: 0px;
  padding: 8px;
  background-color: skyblue;
  color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  img {
    width: var(--icon-width);
    height: var(--icon-height);
  }
}

.chat {
  height: 80vh;
  max-height: 1024px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px lightgray;
  @media screen and (min-width: 480px) {
    max-height: 100vh;
    margin: 50px;
    margin-top: 0px;
  }
}
.chat-content {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - var(--chatinput-height));
  font-size: var(--font-size);
}

.message-section {
  overflow: scroll;
}

.message {
  display: flex;
  width: 100%;
  font-size: var(--font-size);
  span {
    &.text {
      padding: 10px;
      border: 1px solid black;
      border-radius: 15px;
      pre {
        font-family: var(--font-family);
        margin: 0px;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: auto;
      }
    }
    &.time {
      font-family: var(--font-family);
      padding: 5px;
      display: flex;
      align-items: self-end;
      min-width: 70px;
    }
  }

  .profile-section {
    display: flex;
    align-items: self-end;
    img.profile-img {
      width: var(--profile-icon-width);
      height: var(--profile-icon-height);
      margin: 5px 5px 0 5px;
      padding: 5px;
      border: 1px solid black;
      border-radius: 50%;
    }  
  }

  .received {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 5px;
    span.text {
      border-bottom-left-radius: 0px;
    }
    img.profile-img {
      background-color: skyblue;
    }
  }
  .sending {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 5px;
    span.text {
      border: 1.5px dashed gray;
      border-bottom-right-radius: 0px;
    }
  }
  .sent {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 5px;
    span.text {
      border-bottom-right-radius: 0px;
    }
  }
}

hr {
  padding: 0;
  margin: 0;
  border: solid 1px lightgray;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  input {
    width: 100%;
    border: none;
    height: var(--chatinput-height);
    font-size: var(--font-size);
    font-family: var(--font-family);
    margin-left: 5px;
    &:focus {
      outline: none;
    }
  }
  button[type=submit] {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    img {
      width: var(--icon-width);
      height: var(--icon-height);
    }
  }
}
